body{
	/*background:#bfa;*/
	width:100%;
	height:100%;
   background-image: url(../img/bj.png);
   background-repeat:no-repeat;
   background-size:100%
}

.he1{
	width:90%;
	height:1000px;
	/* 给父元素设置高度解决高度塌陷后期优化 */
	margin:0 auto;
	margin-top:2%;
	display: flex;
	flex-flow:row wrap;
	/* 元素超出宽度自动换行 */
    justify-content: space-between;
	/* 元素均匀分布在中间 */

  }
  
  
  .he2,.he3,.he5,.he4{
	  
	  width:48%;
      height:50%;
	  animation:anni 1s 0.5s;
	  border-radius: 20px;
	  background: rgba(255,255,255,0.5);
             }
/*	.he2{
		 animation:anni 1s;
		 
		 transition: all 1s;
	}		
	.he3{
		 animation:anni 1s 1.5s;
	
	}
	
	.he4{
		 animation:anni 1s 2s;
		
	}
	.he5{
		 animation:anni 1s 2.5s;
		
	}
	 */
.he4,.he5{
	
margin-top:2%;
	/* 设置上下间隔 */
        }
		/* 定义所有圆的样式 */
.pi1,.pi2,.pi3,.pi4{
	width:250px;
	height:250px;
	margin: 0 auto;
	margin-top:20px;
	border-radius:50%;
}

.pi1{
	background:url(../img/JAVA.webp);
	background-size:100%100%;
}

.pi2{
	background:url(../img/JAVA.webp);
	background-size:100%100%;
}
.pi3{
	background:url(../img/JDK.png);
	background-size:100%100%;
}
.pi4{
	background:url(../img/pcl2.png);
	background-size:100%100%;
}

.btt1,.btt2,.btt3,.btt4{
	width:26%;
	height:12%;
	border-radius:8%;
	margin: 0 auto;
	margin-top:4%;
}
.btt1{
	background: url(../img/java8X64.png);
	background-size:100%100%;
	}
.btt2{
	background: url(../img/java8X32.png);
	background-size:100%100%;
}
.btt3{
	background: url(../img/JDK16.png);
	background-size:100%100%;
}
.btt4{
	background: url(../img/下载PCL2.png);
	background-size:100%100%;
}
.he1 span{
   
	display:block;
	font-size: 25px;
	margin-top: 25px;
	color:darkorange;
	text-align: center;	
}
@keyframes anni{
	from{margin-top:30%;}
	to{margin-top:0%;}
}


